* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #e5e5e5;
}

.logoSection img{
    height: 100px;
}

.header {
    color: #ffffff;
    padding: 15px 20px;
    position: fixed;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    padding: 0 100px;
}

.logoSection img {
    max-height: 50px;
}

.linksSection ul {
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

.linksSection li {
    margin: 0 15px;
}

.searchBarSection {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.search-bar input{
    border-radius: 15px;
    border: 2px solid #000;
    box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 0.25);
    width: 350px;
    height: 40px;
    padding-left: 40px;
    padding-right: 10px;
    font-size: 18px;
    font-weight: 500;
}

.search-bar label{
    position: relative;
}

.search-bar button{
    position: absolute;
    top: 0;
    left: 10px;
    background-color: transparent;
    border: none;
}

.search-bar button i{
    font-size: 20px;
    color: #3d3d3d;
}

.dropdown {
    position: relative;
}

.dropdown a {
    text-decoration: none;
    color: #3d3d3d;
    font-weight: 750;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.dropdown a:hover {
    color: #0094FF;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: max-content;
    border-radius: 20px;
    background-color: white;
    transform: translate(-35%);
}

.dropdown-content a {
    padding: 4px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content section {
    padding: 8px 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.dropdown-content svg{
    width: 30px;
    height: 30px;
}

.dropdown-content img{
    width: 30px;
    height: 30px;
    filter: grayscale(100%)
}


.dropdown-content a{
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
    animation: fadeIn 0.1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.right-side{
    display: flex;
    justify-content: space-between;
}
@media  only screen and (max-width: 800px) {
    .right-side{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .dropdown{
        position: static;
    }

    .dropdown-content{
        position: fixed;
        transform: translate(0%);
        left: 0;
        width: 100%;
    }

    .header{
        width: 100%;
        padding: 0;
    }

    nav{
        padding: 0;
        width: 100%;
        flex-direction: column;
        align-items: stretch;
    }

    .linksSection{
        display: flex;
        justify-content: center;
    }

    .searchBarSection {
        margin-left: 0;
        width: 100%;
    }

    .searchBarSection form{
        width: 100%;
    }

    .search-bar input{
        width: 100%;
        border-radius: 0;
        border-right: none;
        border-left: none;
    }

    .linksSection{
        margin-top: 10px;
    }

    .logoSection {
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: end;
    }

}