.invisibleblock{
    width: 480px;
}
.container{
   display: flex;
    justify-content: center;
}
.article-text{

    font-size: 20px;
}
.artliclename{
    font-weight: bold;
    background: linear-gradient(to right, #2DB47C, #2480BD);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 30px;
    margin-bottom: 20px;
    border-bottom: 1px black solid;

}
.articleimage-left img{
    border-radius: 20px;

    width: 400px;
}

.main{

    display: flex;

}
.flex-column{
    display: flex;
    flex-direction: column;
}



.flex{
    display: flex;
    align-items: stretch;
    margin-top: 55px;
    gap: 55px;
}
.flex:nth-child(2n){
    flex-direction: row-reverse;
}

.articleimage-left{
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
}

