.invisibleblock{
    width: 480px;
}
.container{
   display: flex;
    justify-content: center;
}
.article-text{

    font-size: 20px;
}
.artliclename {
    font-weight: bold;
    /* Removed the gradient and made the text a solid color for better readability */
    color: #2DB47C; /* Choose a color that stands out but is not too harsh */
    font-size: 36px; /* slightly larger than before */
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc; /* softer color for the border */
}
.articleimage-left img{
width: 300px;
    height: 300px;
}

.main{

    display: flex;

}
.flex-column{
    display: flex;
    flex-direction: column;
}



.flex{
    display: flex;
    align-items: stretch;
    margin-top: 55px;
    gap: 55px;
}
.flex:nth-child(2n){
    flex-direction: row-reverse;
}

.articleimage-left{
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
}

.article-text {
    font-size: 20px;
    line-height: 1.6; /* improves readability */
    color: #333; /* better for reading than pure black */
}


/* Responsive design adjustments */
@media (max-width: 768px) {
    .article-text {
        font-size: 18px; /* slightly smaller text for mobile devices */
    }
    .artliclename {
        font-size: 30px; /* slightly smaller headings for mobile devices */
    }
}
